<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div>
                    <form action="/arts" method="post">
                        <fieldset><p style="text-align:center">
                            <legend>Log a new piece of artwork!</legend>
                            <br>
                            <br>
                            <label>
                                <b>NAME: </b><input type="text" name="name" placeholder="artwork name" />
                            </label>
                            <br>
                            <br>
                            <label>
                                <b>LOCATION: </b><input type="text" name="location" placeholder="enter location of artwork" />
                            </label>
                            <br>
                            <br>
                            <label>
                                <b>IMAGE URL: </b><input type="text" id="image" name="image" placeholder="Enter image URL" />
                              </label>
                              <br>
                              <br>
                            <label>
                                <b>REVIEW: </b><input type="text" name="review" placeholder="describe artwork here" />
                            </label>
                            <br>
                            <br>
                            <label>
                                <b>RATING: </b><input type="number" name="rating" placeholder="1-5" />
                            </label>
                            <br>
                            <br>
                        </fieldset>
                        <p style="text-align:center">
                            <button class="btn btn-outline-success" type="submit">Submit! &#128525;</button>
                    </form>
                </div>
            </main>
    </body>
</html>