<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div>
                            <!-- <label>
                                <b>NAME: </b><input type="text" name="name" placeholder="Artwork name." />
                            </label>
                            <br>
                            <br>
                            <label>
                                <b>LOCATION: </b><input type="text" name="location" placeholder="Enter location of artwork." />
                            </label>
                            <br>
                            <br>
                            <label>
                                <b>ARIST: </b><input type="text" name="artist" placeholder="Enter artist name." />
                            </label>
                            <br>
                            <br>
                            <label>
                                <b>IMAGE URL: </b><input type="text" id="image" name="image" placeholder="Enter image URL." />
                              </label>
                              <br>
                              <br>
                            <label>
                                <b>REVIEW: </b><input type="text" name="review" placeholder="Describe artwork here." />
                            </label>
                            <br>
                            <br>
                            <label>
                                <b>RATING &#127775; : </b><input type="number" name="rating" placeholder="Choose between 1 - 5." />
                            </label>
                            <br>
                            <br> -->
                            <form action="/arts" method="post" encType="multipart/form-data">
                                <fieldset><p style="text-align:center">
                                    <b><legend>Log a new piece of artwork!</legend>
                                    <br>
                                    <br>
                                <input style="text-align:center">
                                <div class="mb-3" style="width: 18rem; text-align:center">
                                  <label for="name" class="form-label">NAME: </label>
                                  <input type="text" name="name" class="form-control" id="text" aria-describedby="text">
                                  <div id="text" class="form-text">Enter artwork name here.</div>
                                </div>
                                <div class="mb-3" style="width: 18rem; text-align:center">
                                    <label for="location" class="form-label">LOCATION: </label>
                                    <input type="text" name="location" class="form-control" id="text" aria-describedby="text">
                                    <div id="text" class="form-text">Enter location here.</div>
                                  </div>
                                  <div class="mb-3" style="width: 18rem; text-align:center">
                                    <label for="artist" class="form-label">ARTIST: </label>
                                    <input type="text" name="artist" class="form-control" id="text" aria-describedby="text">
                                    <div id="text" class="form-text">Enter artist name here.</div>
                                  </div>
                                  <div class="mb-3" style="width: 18rem; text-align:center">
                                    <label for="image" class="form-label">IMAGE URL: </label>
                                    <input type="text" name="image" class="form-control" id="image" aria-describedby="text">
                                    <div id="image" class="form-text">Enter image URL here.</div>
                                  </div>

                                  <input id="imageUpload" type="file"accept=".jpg, .png, .jpeg" onChange="postImage(event)"/> //----⭐
                                  <div id="prev"></div>
                                  <div className="image-upload center">
                                    <div className="image-upload__preview">
                                    </div>
                                  </div>
                                  //----⭐

                                <input id="userInput" onchange="logValue(e)"/>
                                  <div class="mb-3" style="width: 18rem; text-align:center">
                                    <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
                                    <label for="file" class="form-label">OR UPLOAD IMAGE: </label>
                                    <input type="file" name="file" accept="image/gif, image/jpeg, image/png" name="image" id="file" class="form-control" aria-describedby="text">
                                    <div id="file" class="form-text">Upload image.</div>


                                  <div class="mb-3" style="width: 18rem; text-align:center">
                                    <label for="review" class="form-label">REVIEW: </label>
                                    <input type="text" name ="review" class="form-control" id="text" aria-describedby="text">
                                    <div id="text" class="form-text">Enter review here.</div>
                                  </div>
                                  <div class="mb-3" style="width: 18rem; text-align:center">
                                    <label for="location" class="form-label">RATING &#127775;: </label>
                                    <input type="number" name="rating" class="form-control" id="text" aria-describedby="text">
                                    <div id="text" class="form-text">Enter rating here.</div></b>
                                  </div>
                        </fieldset>
                        <p style="text-align:center">
                            <button class="btn btn-outline-success" type="submit">Submit! &#128525;</button>
                    </form>
                </div>
            </main>
            <script>
             const file = document.getElementById("file");
const img = document.getElementById("img");

const userInput = document.getElementById("userInput"); //

const postImage = (e) => {
  console.log(e.target);
  const formData = new FormData();
  formData.append("image", e.target.files[0]);

  var myHeaders = new Headers();
  myHeaders.append("Authorization", "Client-ID 2846195e1594933");
  myHeaders.append(
    "Cookie",
    "IMGURSESSION=2e3b4309e6cf73dbf9d97fd50f391a48; _nc=1"
  );

  var requestOptions = {
    method: "POST",
    headers: myHeaders,
    body: formData,
    redirect: "follow",
  };

  fetch("https://api.imgur.com/3/image/", requestOptions)
    .then((response) => response.json())
    .then((result) => console.log(result))
    .catch((error) => console.log("error", error));
};
            </script>
    </body>
</html>
