<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div>
                            <form encType="multipart/form-data">
                                <fieldset><p style="text-align:center">
                                    <b><legend>Log a new piece of artwork!</legend>
                                    <br>
                                    <br>
                                <div class="mb-3" style="width: 18rem; text-align:center">
                                  <label for="name" class="form-label">NAME: </label>
                                  <input type="text" name="name" class="form-control" id="text" aria-describedby="text">
                                  <div id="text" class="form-text">Enter artwork name here.</div>
                                </div>
                                <div class="mb-3" style="width: 18rem; text-align:center">
                                    <label for="location" class="form-label">LOCATION: </label>
                                    <input type="text" name="location" class="form-control" id="text" aria-describedby="text">
                                    <div id="text" class="form-text">Enter location here.</div>
                                  </div>
                                  <div class="mb-3" style="width: 18rem; text-align:center">
                                    <label for="artist" class="form-label">ARTIST: </label>
                                    <input type="text" name="artist" class="form-control" id="text" aria-describedby="text">
                                    <div id="text" class="form-text">Enter artist name here.</div>
                                  </div>
                                  <div class="mb-3" style="width: 18rem; text-align:center">
                                    <label for="image" class="form-label">IMAGE URL: </label>
                                    <input type="text" name="image" class="form-control" id="image" aria-describedby="text">
                                    <div id="image" class="form-text">Enter image URL here.</div>
                                  </div>
<!-- 
                                  //----⭐

                              <button onclick="handleSubmit(event)">SUBMIT</button>
                                  //----⭐

                                <input id="userInput" onchange="logValue(e)"/>
                                  <div class="mb-3" style="width: 18rem; text-align:center">
                                    <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
                                    <label for="file" class="form-label">OR UPLOAD IMAGE: </label>
                                    <input type="file" name="file" accept="image/gif, image/jpeg, image/png" name="image" id="file" class="form-control" aria-describedby="text">
                                    <div id="file" class="form-text">Upload image.</div> -->


                                  <div class="mb-3" style="width: 18rem; text-align:center">
                                    <label for="review" class="form-label">REVIEW: </label>
                                    <input type="text" name ="review" class="form-control" id="text" aria-describedby="text">
                                    <div id="text" class="form-text">Enter review here.</div>
                                  </div>
                                  <div class="mb-3" style="width: 18rem; text-align:center">
                                    <label for="location" class="form-label">RATING &#127775;: </label>
                                    <input type="number" name="rating" class="form-control" id="text" aria-describedby="text">
                                    <div id="text" class="form-text">Enter rating here.</div></b>
                                  </div>
                        </fieldset>
                        <p style="text-align:center">
                            <button class="btn btn-outline-success" type="submit">Submit! &#128525;</button>
                    </form>
<!-- 
                    <input
                    id="imageUpload"
                    type="file"
                    accept=".jpg, .png, .jpeg"
                    onChange="onChangeImageHandler(event)"
                  />
                  <img
                    id="preview"
                    height="200"
                    src="https://i.ibb.co/2dtXpf2/blank-avatar.webp"
                    alt="preview"
                  />


                </div>
                </div>
            </main>
            <script>
      const preview = document.getElementById("preview");
      const imageData = document.getElementById("imageUpload");



      //selected image handler
      const onChangeImageHandler = (event) => {
        const file = event.target.files[0];
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
          // as soon as the file is loaded from machine to browser log the result.
          const imageData = e.target.result;
          console.log(reader.result);
          //   console.log(imageData);
          preview.src = imageData;
          //   imageDataInput.value = imageData.split("base64,")[1];
        };

      };

      const handleSubmit = (e) => {
        e.preventDefault();

        console.log("submitting image");

        const postdata = JSON.stringify({
          base64string: preview.src.split("base64,")[1],
          title: "SAMS PROJECT",
        });
        console.log(postdata);

        const url = "http://localhost:3000/imageupload";

        const xhr = new XMLHttpRequest();

        xhr.addEventListener("readystatechange", function () {
          if (this.readyState === 4) {
            console.log("eventlistener thingyyyyyyyyyy");
            console.log(this.responseText);
          }
        });

        xhr.open("POST", url, true);

        xhr.setRequestHeader("content-type", "application/json");

        xhr.onload = function () {
          console.log("onload thing happened!!!!!!!!!!");
        };

        xhr.send(postdata);
      };
            </script> -->
    </body>
</html>
